section.footer {
    margin-top: 100px;
}
.footer .content-footer {
    background: #A60FAD;
    padding: 80px 0;
    position: relative;
}
.footer .content-footer img {
    position: absolute;
    right: 0;
    top: 0;
}
.footer .title-footer {
    text-align: center;
    color: #A60FAD;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 80px;
}
.footer .content-footer .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.footer .content-footer .form input[type="text"] {
    border: 2px solid #FFFFFF;
    border-radius: 110px;
    background: #A60FAD;
    color: white;
    outline: none;
    padding: 20px 50px;
    max-width: 800px;
    width: 100%;
    height: 110px;
    font-size: 40px;
    font-weight: 400;
}
.footer .content-footer .form input[type="text"]::placeholder {
    color: white;
    font-weight: 400;
}
.footer .content-footer .form .check {
    display: flex;
    gap: 30px;
    align-items: center;
}
.footer .content-footer .form .check input[type="checkbox"] {
    width: 62px;
    height: 62px;
    border-radius: 15px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
    position: relative;
}

.footer .content-footer .form .check input[type="checkbox"]::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #A60FAD;
    border-radius: 15px;
}
.footer .content-footer .form .check input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 32px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer .content-footer .form .check label {
    font-size: 35px;
    color: white;
    font-weight: 400;
}
.footer .content-footer .form .btn-description {
    display: flex;
    flex-direction: column;
    gap: 20px
}
.footer .content-footer .form .btn-description button {
    padding: 30px;
    font-size: 45px;
    color: white;
    font-weight: 700;
    background: #A2D23F;
    cursor: pointer;
    border: none;
    border-radius: 110px;
    max-width: 800px;
    width: 100%;

}
.footer .content-footer .form .btn-description .description-footer {
    color: white;
    font-size: 35px;
    max-width: 800px;
    width: 100%;
    font-weight: 400;
}
.footer .content-footer .form .btn-description .email {
    color: white;
    font-size: 35px;
    font-weight: 400;
}
.footer .content-footer .form .btn-description .email a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    margin-left: 30px;
}
@media (max-width: 500px) {
    section.footer {
        margin-top: 20px;
    }
    .footer .content-footer {
        padding: 30px 0;
    }
    .footer .title-footer {
        font-size: 10px;
        margin-bottom: 14px;
    }
    .footer .content-footer .form input[type="text"] {
        height: 37px;
        padding: 10px 20px;
        font-size: 10px;
        width: 100%;
        border: 1px solid white
    }
    .footer .content-footer img {
        display: none;
    }
    .footer .content-footer .form .check input[type="checkbox"] {
        width: 20px;
        height: 20px;
        border-radius: 4px;
    }
    .footer .content-footer .form .check label {
        font-size: 12px;
    }
    .footer .content-footer .form .btn-description button {
        padding: 12px 0;
        font-size: 15px;
    }
    .footer .content-footer .form .btn-description .description-footer {
        font-size: 12px;
    }
    .footer .content-footer .form .btn-description .email {
        font-size: 13px;
    }
    .footer .content-footer .form {
        gap: 20px;
    }

}


