.nav {
    background: #A60FAD;
    position: absolute;
    width: 100%;
    border-radius: 50px;
    left: 0;
    top: 12px;
}
.nav .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.nav .container .nav-buttons {
    display: flex;
    gap: 48px;
}
.nav .container .nav-buttons a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 50px;
    transition: all 0.3s;
}
.nav .container .nav-buttons a.active {
    background: #A2D23F;
    border: 1px solid #A2D23F;
}
.nav .container .burger {
    display: none;
}
@media (max-width: 500px) {
    .nav {
        position: relative;
        top: 0;
        margin-bottom: 20px;
    }
    .nav .container .burger {
        display: block;
        cursor: pointer;
    }
    .nav .container .nav-buttons {
        display: none;
    }
    .nav .container {
        padding: 15px 30px;
    }
}

