section.success {
    margin-top: 80px;
}

section.success.mobile {
}

.success .title {
    font-size: 48px;
    font-weight: 800;
    color: #A2D23F;
    text-align: center;
    margin-bottom: 200px;
}

.success .block1 {
    position: relative;
    margin-bottom: 250px;
}

.success .block1 .lines {
    position: relative;
}

.success .block1 .lines .line {
    position: absolute;
    top: 38%;
    width: 100%;
    height: 15px;
}

.success .block1 .lines .arrow {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.success .block1 .lines .arrow .right {
    width: 50px;
}

.success .block1 .lines .number {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
}

.success .block1 .lines .number2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-45%);
    top: 0;
    width: 130%;
}

.success .block1 .lines .number h4 {
    color: white;
    font-weight: 400;
    font-size: 30px;
    background: #A60FAD;
    border-radius: 50%;
    max-width: 64px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 64px;
    height: 100%;
    padding: 23px 16px;
}

.success .block1 .success-cards {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -160%;
    height: 300px;
}

.success .block1 .success-card {
    max-width: 150px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 30px;
}

.success .block1 .success-card p {
    width: 100%;
    text-align: end;
    font-size: 16px;
    font-weight: 600;
    color: #707070CC;
}

.success .block1 .success-card h3 {
    font-weight: 400;
}

section.success.mobile {
    display: none;
}

@media (max-width: 1350px) {

}

@media (max-width: 500px) {
    section.success {
        margin-top: 20px;
    }

    section.success.desktop {
        margin-top: 20px;
        display: none;
    }

    .success .title {
        font-size: 24px;
        margin-bottom: 40px;
    }

    section.success.mobile {
        margin-bottom: 30px;
        display: block;
        position: relative;
    }

    section.success.mobile .button-success {
        position: absolute;
        right: 30px;
        bottom: -20px;
        z-index: 10;
    }

    section.success.mobile .block {
        width: 100%;
    }

    section.success.mobile .block .cards {
        display: flex;
        gap: 0;
        position: relative;
    }

    section.success.mobile .block .cards .card-success {
        position: relative;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 170px;
        width: 100%;
    }

    section.success.mobile .block .cards .card-success .line img {
        max-width: 100%;
        height: 7px;
    }

    section.success.mobile .block .cards .card-success .number-arrow img {
        width: 30px;
    }

    section.success.mobile .block .cards .card-success .number-arrow img.shop {
        width: 120px;
    }

    section.success.mobile .block .cards .card-success .title-card-success {
        padding-left: 30px;
        height: 60px;
    }

    section.success.mobile .block .cards .card-success .title-card-success h3 {
        font-size: 13px;
        font-weight: 400;
    }

    section.success.mobile .block .cards .card-success .number-arrow {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    section.success.mobile .block .cards .card-success .number-arrow.shop-image {
        padding-left: 30px;
        justify-content: start;
    }

    section.success.mobile .block .cards .card-success .number-arrow h4 {
        color: white;
        background: #A60FAD;
        font-weight: 400;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
    }

    section.success.mobile .block .cards .card-success .line {
        position: absolute;
        top: 93px;
        right: 0;
        width: 100%;
        z-index: -1;
    }

    section.success.mobile .block .cards .card-success .date-success {
        text-align: end;
        padding-right: 30px;
        height: 27px;
    }

    section.success.mobile .block .cards .card-success .date-success p {
        font-size: 13px;
        color: #70707080;
        font-weight: 600;
    }

    section.success.mobile .block .cards .card-success .date-success p.none {
        color: white;
    }

    section.success.mobile .block .cards .card-success .date-success.large {
        padding-right: 0;
    }
}
